@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

/* @layer utilities {
  ::-webkit-scrollbar {
    display: none;
  }

   {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} */
